<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include head.html %}
  </head>
  <body class="app-theme-workspace">
    <a class="sr-only" href="#content">Skip navigation</a>
    {% include navbar.html %}
    {% include sidebar.html %}
    <main class="app-content app-content-workspace dim-in dim-in-2" id="app-content" role="main">
        {{ content }}
    </main>

    {% include javascript.html %}
    <div class="app-js-slot">
        {% include gfont.html %}
    </div>

  </body>
</html>