// Custom application specific styles
//--------------------------------------


body {
    //background: #f5f5f5;
}

// Header styles
// --------------------------
body > header {
    #toolbar + nav,
    #editbar-wrapper + nav {
        margin-top: @navbarHeight;
        .navbar-inner {
            .border-radius(0px);
            .container {
                width: @gridRowWidth;
                .container-fixed();
            }
        }
    }
    // Active nav items
    #main-nav .selected > a,
    #main-nav .selected > a:hover,
    #main-nav .selected > a:focus {
      color: @navbarLinkColorActive;
      text-decoration: none;
      background-color: @navbarLinkBackgroundActive;
      box-shadow: inset 0 3px 8px rgba(0,0,0,.125);
    }
}

// xpose styles for a HMTL5 based site footer
body > footer {
    margin-top: @baseLineHeight;
    padding: @baseLineHeight 0;
    border-top: 1px solid @grayLighter;
}
