<div class="datapanel" id="main-stats">
    <div class="row datapanel-row">
        <div class="col-md-3 col-sm-3 datapanel-item">
            <div class="item-data">
                <span class="numberic">2457</span>
                visits
            </div>
            <span class="item-date">Today</span>
        </div>
        <div class="col-md-3 col-sm-3 datapanel-item">
            <div class="item-data">
                <span class="numberic">3240</span>
                users
            </div>
            <span class="item-date">February 2013</span>
        </div>
        <div class="col-md-3 col-sm-3 datapanel-item">
            <div class="item-data">
                <span class="numberic">322</span>
                orders
            </div>
            <span class="item-date">This week</span>
        </div>
        <div class="col-md-3 col-sm-3 datapanel-item last">
            <div class="item-data">
                <span class="numberic">$2,340</span>
                sales
            </div>
            <span class="item-date">last 30 days</span>
        </div>
    </div>
</div>