<nav class="navbar navbar-inverse navbar-fixed-top app-navbar" id="app-navbar" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand navbar-right app-navbar-brand" href="/">Xpose414</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse" id="app-navbar-nav">
        <ul class="nav navbar-nav pull-right">
          <li id="plone-personal-actions" class="dropdown dropdown-userinfo">
            <a data-toggle="dropdown" class="dropdown-toggle" href="/author/123456789">
              <span>John Doe</span>
              <b class="caret">
            </b></a>
            <ul class="dropdown-menu"><li id="plone-personal-actions-dashboard">
                <a href="/dashboard">My workspace</a>
              </li>
              <li id="plone-personal-actions-preferences">
                <a href="/preferences">Settings</a>
              </li>
              <li id="plone-personal-actions-plone_setup">
                <a href="/controlpanel">Configuration</a>
              </li>
              <li id="plone-personal-actions-logout">
                <a href="/logout">Signout</a>
              </li>
            </ul></li>
        </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Help</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
