<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Services</h3>
    </div>
    <div class="list-group">
        <div data-appui-uri="http://brain.xpose414.de/api.php" data-appui-target="#app-statusmsg-0" data-appui="ajaxcxn" class="list-group-item">
            <h4 class="list-group-item-heading">
                <small id="app-statusmsg-0" class="pull-right text-success">
                    <span>available</span>
                </small>
                <span>activeCollab</span>
            </h4>
            <p class="list-group-item-text">http://brain.xpose414.de/api.php</p>
        </div>
        <div data-appui-uri="https://www.googleapis.com/auth/analytics.readonly" data-appui-target="#app-statusmsg-1" data-appui="ajaxcxn" class="list-group-item">
            <h4 class="list-group-item-heading">
                <small id="app-statusmsg-1" class="pull-right text-success">
                    <span>available</span>
                </small>
                <span>Google Analytics</span>
            </h4>
            <p class="list-group-item-text">https://www.googleapis.com/auth/analytics.readonly</p>
        </div>
        <div data-appui-uri="https://api.xovi.net/index.php" data-appui-target="#app-statusmsg-2" data-appui="ajaxcxn" class="list-group-item">
            <h4 class="list-group-item-heading">
                <small id="app-statusmsg-2" class="pull-right text-success">
                    <span>available</span>
                </small>
                <span>XOVI</span>
            </h4>
            <p class="list-group-item-text">https://api.xovi.net/index.php</p>
        </div>
    </div>
</div>