<div class="ws-sidebar bs-docs-sidebar" id="ws-sidebar">
    <h3 class="ws-nav-heading ws-sidebar-heading">
        <a href="/">Xeo <i class="icon-terminal"></i> <small>by meetshaus</small></a>
    </h3>
    <div class="ws-sidebar-block">
        <h4>Max Mustermann</h4>
        <p><a href="/logout"><i class="icon-signout"></i> Abmelden</a></p>
    </div>

  <ul class="nav ws-nav bs-docs-sidenav">
    <li><a class="nav-header" href="#welcome">Dashboard</a></li>

    <!-- Status Page -->
    <li><a class="nav-header" href="#css">Status Page</a></li>
    <li><a href="#css-overview">Overview</a></li>
    <li><a href="#grid">Tasks</a></li>
    <li><a href="#grid">Latest Activity</a></li>

    <!-- Customer Manager -->
    <li><a class="nav-header" href="#css">SEMTools</a></li>
    <li><a href="#css-overview">Customers</a></li>
    <li><a href="#grid">Domains</a></li>
    <li><a href="#grid">Satistics</a></li>
  </ul>
</div>