<div id="app-sidebar" class="app-sidebar">
    <h3 class="app-nav-heading app-sidebar-heading">
        <a href="http://localhost:8499/plonesite">
            Seodash
        </a>
    </h3>
    <div class="app-sidebar-content dim-in dim-in-1">
        <div class="app-sidebar-block">
            <h4>zope-admin</h4>
            <p><a href="http://localhost:8499/plonesite/logout"><small>
                <i class="fa fa-sign-out"></i>abmelden</small></a></p>
        </div>
        <ul class="nav ws-nav bs-docs-sidenav app-sidebar-nav">
            <li><a href="#css" class="nav-header">Administration</a></li>
            <li class="active"><a href="#css-overview">Services</a></li>
            <li><a href="#css-overview">Dashboards</a></li>
            <li><a href="#grid">Settings</a></li>
            <li><a href="#grid">Latest Activity</a></li>
        </ul>
    </div>
</div>