<div class="app-sidebar" id="app-sidebar">
    <h3 class="app-nav-heading app-sidebar-heading">
        <a href="/">Xeodash <i class="icon-terminal"></i>
    </h3>
    <div class="app-sidebar-block">
        <h4>Max Mustermann</h4>
        <p><a href="/logout"><i class="icon-signout"></i> Abmelden</a></p>
    </div>

  <ul class="nav ws-nav bs-docs-sidenav app-sidebar-nav">
    <li><a class="nav-header" href="#welcome">Dashboard</a></li>

    <!-- Status Page -->
    <li><a class="nav-header" href="#css">SEO</a></li>
    <li class="active"><a href="#css-overview">Overview</a></li>
    <li><a href="#grid">Tasks</a></li>
    <li><a href="#grid">Latest Activity</a></li>

    <!-- Customer Manager -->
    <li><a class="nav-header" href="#css">SEMTools</a></li>
    <li><a href="#css-overview">Customers</a></li>
    <li><a href="#grid">Domains</a></li>
    <li><a href="#grid">Satistics</a></li>
  </ul>
</div>