//
// Workspace sidebar
// --------------------------------------------------

.app-sidebar {
    display: block;
    position: fixed;
    top: @navbar-height;
    left: -(@navbar-height * 4);
    bottom: 0;
    width: (@navbar-height * 4);
    overflow-y: scroll;
    text-shadow: 0 1px 0 #fff;
    background-color: #f5f5f5;
    box-shadow: inset -1px 0 0 #e5e5e5;
    // box-shadow: -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25) inset
    @media (min-width: @grid-float-breakpoint) {
        left: 0;
    }
}

.app-sidebar-heading {
    .h3();
    margin: 0 0 @line-height-computed;
    > a {
        display: block;
        padding: @line-height-computed;
        color: @app-color;
        border-bottom: 1px solid #e5e5e5;
        box-shadow: 0 1px 0 #fff;
        &:hover {
            text-decoration: none;
        }
    }
}

.app-sidebar-block {
    padding: 0 @line-height-computed;
    margin-bottom: @line-height-computed;
    //color: #666;
    color: lighten(#000, 40%);
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 1px 0 #fff;
}



/* Nav: first level */
//.ws-sidebar > .nav {
//  margin: 0 0 25px 0;
//}
//.ws-sidebar .nav > li > a {
//  display: block;
//  color: #666;
//  padding: 4px 25px;
//}
//.ws-sidebar .nav > li > a:hover,
//.ws-sidebar .nav > li > a:focus {
//  text-decoration: none;
//  border-right: 1px solid #d5d5d5;
//}

.app-sidebar-nav {
    > li a {
        padding-left: @line-height-computed;
    }
    > li.active:after {
        z-index: 50;
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        right: -0.03125em;
        margin-top: -(@line-height-computed);
        border-top: @line-height-computed transparent solid;
        border-bottom: @line-height-computed transparent solid;
        border-right: @line-height-computed white solid;
    }
    a {
        color: #666;
    }
}

.app-sidebar .nav > .active > a,
.app-sidebar .nav > .active:hover > a,
.app-sidebar .nav > .active:focus > a {
  font-weight: 500;
  color: @app-danger;
  background-color: transparent;
  border-right: 1px solid #b94a48;
}

/* Nav: second level (shown on .active) */
.app-sidebar-nav .nav {
  display: none;
  margin-bottom: 5px;
}
.app-sidebar-nav > .active > ul {
  display: block;
}
.app-sidebar-nav .nav > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 40px;
  font-size: 90%;
}

/* Section headings for groups of links */
.app-sidebar-nav > li > .nav-header {
  margin-top: 20px;
  margin-bottom: 5px;
  //font-size: 14px;
  font-weight: 700;
  color: #333;
}
.app-sidebar-nav > .active > .nav-header,
.app-sidebar-nav > .active > .nav-header:hover {
  color: #333;
  border-color: #333;
}

// Sidebar description



